<!-- Form for creating a new contact -->
<form autocomplete="off" class="add-form text-center border border-light p-5"
  (ngSubmit)="createContact(); resetCreateForm();" name="create-form" *ngIf="visibleForm == 'create'">
  <h2>Add contact</h2>
  <input type="text" id="name" name="name" [(ngModel)]="data.user_name" class="form-control mb-4" placeholder="Name"
    max="50">
  <input type="text" id="surname" name="surname" [(ngModel)]="data.user_surname" class="form-control mb-4"
    placeholder="Surname" max="50">
  <input type="tel" id="phonenumber" name="phonenumber" [(ngModel)]="data.phone_number" class="form-control mb-4"
    placeholder="+" max="20">
  <button class="btn btn-info" type="submit"
    *ngIf="data.user_name && data.user_surname && data.phone_number">Add</button>
  <button class="btn btn-info reset" (click)="resetCreateForm(); visibleForm = ''"
    [ngClass]="{'reset-only': !(data.user_name && data.user_surname && data.phone_number)}"><i
      class="fa fa-times"></i></button>
</form>

<!-- Form for updating an existing contact -->
<form autocomplete="off" class="update-form text-center border border-light p-5"
  (ngSubmit)="updateContact(); resetUpdateForm();" name="update-form" *ngIf="visibleForm == 'update'">
  <h2>Update contact</h2>
  <input type="text" id="name" name="name" [(ngModel)]="changingData.user_name" class="form-control mb-4"
    placeholder="Name" max="50">
  <input type="text" id="surname" name="surname" [(ngModel)]="changingData.user_surname" class="form-control mb-4"
    placeholder="Surname" max="50">
  <input type="tel" id="phonenumber" name="phonenumber" [(ngModel)]="changingData.phone_number"
    class="form-control mb-4" placeholder="Phone" max="20">
  <button class="btn btn-info" type="submit"
    *ngIf="changingData.user_name && changingData.user_surname && changingData.phone_number">Update</button>
  <button class="btn btn-info reset" (click)="resetUpdateForm(); visibleForm = ''"
    [ngClass]="{'reset-only': !(changingData.user_name && changingData.user_surname && changingData.phone_number)}"><i
      class="fa fa-times"></i></button>
</form>

<!-- Table title -->
<div class="table-title">
  <div class="row">
    <div class="col-sm-8">
      <h2>Contact <b>Details</b></h2>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-info add-new" (click)="visibleForm = 'create'"><i class="fa fa-plus"></i> Add
        new contact</button>
    </div>
  </div>
</div>

<!-- Table -->
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Contacts</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>
        <details>
          <summary>{{contact.user_name}}</summary>
          <p>
            Name: {{contact.user_name}} <br>
            Surname: {{contact.user_surname}} <br>
            Phone: {{contact.phone_number}} <br>
          </p>
        </details>
      </td>
      <td>
        <a title="Edit" (click)="getContactForUpdate(contact.contact_id); visibleForm = 'update'"
          visibleForm="update"><i class="fa fa-pencil"></i></a>
        <a title="Delete" (click)="deleteContact(contact.contact_id);"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>